<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    <p>
      {{title}} list is here. Q->
    </p>
    {{> footer}}
  </body>
</html>
